h1, h2, h3, p, a, button, input, label, textarea, select {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

input[type=submit],
.toggle-view-btn,
.student-edit-link,
.mentor-edit-link {
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

input[type=submit]:hover,
.toggle-view-btn:hover,
.student-edit-link:hover,
.mentor-edit-link:hover {
  color: #9EF8FE;
  cursor: pointer;
}

h1 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #3299ff;
  margin: 0;
}

h2 {
  color: #032647;
  letter-spacing: 5px;
  text-align: center;
}


/*HEADER*/
.app-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #032647;
  background-image: linear-gradient(195deg, #1B5287 0%, #000000 100%);
  padding: 20px;
  margin: 0;
}

#log-in,
#log-out {
  background: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 5px;
}

#log-in:hover,
#log-out:hover {
  font-weight: 700;
}

/*CHOOSE STATUS*/
.choose-link-box {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.choose-link {
  box-sizing: border-box;
  background-color: #032647;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

.choose-link:hover {
  background-color: #1B5287;
}

/*CREATE PROFILE*/
#create-profile-form {
  display: block;
  margin: auto;
  width: 40%;
}

input,
textarea,
select,
input[type=submit] {
  display: block;
  border-radius: 0;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

input[type=radio],
input[type=checkbox] {
  display: inline-block;
  width: 10px;
  margin-left: 30px;
}

#input[type=submit] {
  width: 40%;
  margin: 30px auto;
}

.buttons:hover {
  cursor: pointer;
}


/* --- MentorCard --- */

.mc-bottom-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.mc-dev-type {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0;
}

.mc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border: 2px solid #9EF8FE;
}

.mc-img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.mc-name {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mc-h3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.1rem;
}

.mc-details,
.mc-h3 {
  font-weight: 300;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mc-location {
  font-weight: 300;
  font-size: 1.9rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-prompt {
  font-size: 1.9rem;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  text-align: center;
}

.mc-details {
  max-width: 400px;
  font-size: .9rem;
}

.toggle-view-btn {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-size: 1em;
  margin-bottom: 20px;
}

/* --- student home --- */

.student-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-image {
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
}

.student-edit-link,
.mentor-edit-link {
  padding: 10px;
  margin: 20px;
  width: 200px;
  text-align: center;
}

.edit-wrapper {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sh-mentor-container {
  margin: auto;
}

/*MEDIA BREAKS*/
@media screen and (max-width: 900px) {
  .choose-link-box {
    width: 95%;
  }
}
